body {
    background: #efeeee;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    &>[class^="col-"],
    &>[class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* Custom CSS */

/* Borders */
.border-ws-blue {
    border-color: $wsblue !important;
}

.border-ws-bluelt {
    border-color: $wsbluet !important;
}

.border-ws-orange {
    border-color: $wsorange !important;
}

.border-ws-red {
    border-color: $wsred !important;
}

.border-ws-light {
    border-color: $wslight !important;
}

.border-5 {
    border-bottom: 5px solid #a0cedd !important;
}

/* Form Fields */
.order-section {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    outline: none 0;
    height: 45px;
    width: 95%;
    font-size: 20px;
    padding-left: 15px;
}

/* Sticky Pricing Calculator */
.nav-z {
    z-index: 9999;
}

/* Background */
.bg-wslight {
    background-color: $wslight !important;
}

.bg-primary {
    background-color:$wsprimary !important;
}

.bg-wsblue {
    background-color: $wsblue !important;
}

.bg-wsorange {
    background-color: $wsorange !important;
}

.bg-wsred {
    background-color: #ed1863 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.btn-outline-wslight {
    border: 1px solid $wslight;
}


/* Submit Button */
.btn-wsorange {
    background: $wsorange;

    i {
        display: none;
    }

    &.loading {
        i {
            display: inline-block;
        }
    }

    &.active {
        background-color: $wslight !important;
        border: 1px solid $wslight;
        color: $wsorange !important;
        @font-weight-bold;

    }
}



/* Icons */
.icon-sm {
    height: 20px;
}

/* Header */
header {
    z-index: 9999 !important;
}

main {
    margin-top: 90px;

    @media screen and (max-width: $md-max) {
        margin-top: 70px;
    }
}


.title-card {
    .editNow {
        position: relative;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }

    .title-card-off{

        .check{
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                padding: 0 10px 0 0;
                position: relative;
                content: '\f00c';
                color:$wsgreen;
                 @media screen and (max-width: $sxs-max) {
                    display:none;
                }
            }
        }   
    }

}


.sticky-offset {
    top: 95px; //same size of the header

    @media screen and (max-width: $md-max) {
        top: 76px;
    }
}

input, select{
    &.validation-error{
        border:1px solid $wsred!important;
    }
}

.validation-error{
    &.modal-content{
        color:$wsred!important;
    }
}

// @media screen and (min-width: $lg-min) {
//     #cart {
//         position: fixed !important;
//         right: 1%;
//         margin-top: 90px;

//     }

// }


// @media screen and (max-width: $md-max) {
//     #cart {
//         // position: fixed !important;
//         // right: 0px;
//         padding-top: 90px;

//     }

// }

#cartPrice {
    .cartDetails_bnt {
        a {
            &::before {
                font-family: 'Font Awesome 5 Free' !important;
                font-style: normal !important;
                font-weight: 900 !important;
                opacity: 1 !important;
                display: contents !important;
                padding: 10px 10px 0px 20px;
                position: relative;

            }

            &[aria-expanded="true"] {
                &::before {
                    content: "\f106" !important;
                }

            }

            &[aria-expanded="false"] {
                &::before {
                    content: "\f107" !important;
                }
            }

        }


    }

    @media screen and (max-width: $md-max) {

        .price-taxes {
            margin-top: -50px;
            line-height: 0px;
            text-align: right;

            h2 {
                font-size: 20px !important;

            }

        }



        h4 {
            font-size: 20px !important;

        }

    }
}


