 @import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');

 body {
     font-family: 'Lato', sans-serif;
 }
 
 h1 { font-size: 56px; margin: 0px!important; }
 h2 { font-size: 36px; margin: 0px!important; }
 h3 { font-size: 32px; margin: 0px!important; }
 
 @media screen and (max-width: 576px) {
	h3 {
		font-size: 20px !important;
		margin: 0px !important;
	}
 }

 h4 { font-size: 26px; margin: 0px!important; }
 h5 { font-size: 22px; margin: 0px!important; }

  @media screen and (max-width: $sm-min) {
	h5 {
		font-size: 18px !important;
		margin: 0px !important;
	}
 }

 .text-disc { font-size: 16px; line-height: 1!important; }
 .text-small { font-size: 14px; line-height: 1!important; }
 .text-footer { font-size: 12px; line-height: 1!important; }
 .text-xsmall { font-size: 12px; line-height: 1!important; }
 .text-options { line-height: 1.2!important; }


 /* Text */
// Contextual colors

.text-huge { font-size: 56px; margin: 0px!important; }
.text-white { color: $white !important; }
.text-primary { color: $wsprimary !important; }
.text-ws-blue { color: $wsblue !important; }
.text-ws-orange { color: $wsorange !important; }
.text-ws-red { color: $wsred !important; }


::-webkit-input-placeholder { /* Edge */
  color: $wslight!important;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: $wslight!important;
}

::placeholder {
  color: $wslight!important;
}

