// Colors

$clean_themeblue: #172a53;

// Theme Colors
$wsprimary:      #333435 !default;
$wsblue:      #40afc9 !default;
$wsbluet:	#a0cedd !default;
$wsorange:      #ef9123 !default;
$wsred:      #ed1863 !default;
$wslight:      #dddddd !default;
$wsgreen: #6BBE59;


// Breakpoints (Media Queries)
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

$sxs-max: 320px;
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;



// $theme-colors: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $theme-colors: map-merge(
//   (
//     "wsprimary":  $wsprimary,
//     "wsblue":     $wsblue,
//     "wsorange":   $wsorange,
//     "wsred":      $wsred,
//     "wslight":    $wslight
//   ),
//   $theme-colors
// );
